/*RESETEO DE ESTILOS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

ul {
  list-style: none;
  text-align: center;
  display: inline;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  font-style: none;
  color: rgb(0, 0, 0);
}

/* ESTILO NAV */
header {
  /* display: flex; */
  background-color: #D1C4E9;
  width: 100%;
}
header #navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
header #navHeader .iconoCoraYPesa {
  display: flex;
  align-items: center;
  width: 70px;
  height: 70px;
}
header #navHeader .iconoCoraYPesa img {
  width: 70px;
  height: 70px;
}
header #navHeader .paginas {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
header #navHeader .paginas .liPaginas {
  margin-left: 20px;
}
header #navHeader .paginas .liPaginas .liPaginas a {
  text-decoration: none;
  color: #333;
}

/*#paginasAqui{
    display: flex; 
    justify-content:end;
    align-items: center;
}*/

/*ESTILO FOOTER*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background-color: #D1C4E9;
}
footer .footerLinks {
  display: inline-block;
  justify-content: center;
  margin: 0;
  padding: 0;
}
footer .footerLogo {
  display: flex;
  justify-content: left;
  width: 100px;
  height: 100px;
  padding: 12px;
}
footer .footerRedes {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 12px;
  gap: 10px;
}

/*PAGINA INICIO*/
#mainInicio {
  background-color: #FCE4EC;
  width: 100%;
  /*height: 650px;*/
  display: flex;
}
#mainInicio .fotoInicio {
  width: 250px;
  height: 510px;
  display: inline-flex;
  margin: 40px;
}
#mainInicio .textoInicio {
  display: inline-block;
  text-align: center;
  font-size: 40px;
  padding: 10px;
  margin-left: 130px;
}

  /*PAGINA INFO*/
  #mainInfo {
    background-color: #FCE4EC;
    width: 100%;
    display: inline-flex;
  }
  #mainInfo .textoInfo {
    border: 10px solid black;
    padding: 5px;
    font-size: 35px;
  font-display: center;
  display: inline;
  text-align: center;
  margin: 20px;
  margin-left: 40px;
}
#mainInfo .tituloMapa {
  font-size: 40px;
  text-align: center;
}
#mainInfo .mapa {
  margin: 30px;
  padding: 10px;
}

/*PAGINA GALERIA*/
#mainGaleria {
  background-color: #FCE4EC;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#mainGaleria .galeriaTitulo {
  font-size: 40px;
  font-display: center;
  justify-content: center;
  display: block;
  text-align: center;
  padding-top: 30px;
}
#mainGaleria .videosTitulo, #mainGaleria .imagenesTitulo {
  font-display: center;
  justify-content: center;
  display: block;
  text-align: center;
  padding: 20px;
  margin: 20px;
}
#mainGaleria .imgGaleria {
  width: 300px;
  max-height: 300px;
  object-fit: contain;
}
#mainGaleria .videoGaleria {
  width: 250px;
  margin: 10px;
}
#mainGaleria .videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#mainGaleria .imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 40px;
}

/*.grid-container { 
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap: 30px;
    padding: 30px;
}*/

/*PAGINA PLAYLIST*/
#mainMusica {
  background-color: #FCE4EC;
  width: 100%;
}
#mainMusica .playlistTitulo {
  font-size: 40px;
  font-display: center;
  justify-content: center;
  display: block;
  text-align: center;
  padding-top: 30px;
}
#mainMusica .textoMusica {
  font-size: 40px;
  font-display: center;
  display: block;
  text-align: center;
  justify-content: center;
}
#mainMusica .linksMusica {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

/*PAGINA CONTACTO*/
#mainContacto {
  background-color: #FCE4EC;
  width: 100%;
  height: 80vh;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#mainContacto .contactoTitulo {
  font-size: 40px;
  font-display: center;
  justify-content: center;
  display: block;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
#mainContacto #boton {
  color: #fff;
  background-color: rgb(175, 89, 145);
  border: 2px solid #d94de1;
  border-radius: 5px;
  padding: 4px;
  margin-left: 70px;
  margin-bottom: 30px;
}
#mainContacto #boton:hover {
  color: rgba(184, 43, 206, 0.902);
  background-color: rgba(226, 209, 229, 0.902);
  border: 2px solid #df07ea;
  border-radius: 5px;
  padding: 4px;
  transition-duration: 2s;
}
#mainContacto .mb-3 {
  margin-left: 70px;
  margin-right: 70px;
}

/*Estos estilos eran del formulario anterior!*/
/*.formulario{
    margin: 10px;
}*/
/*.input{
    margin: 5px;
    border: 2px solid #d94de1;
}*/

/*# sourceMappingURL=style.css.map */

/*------------------------------------------------------------------------------------------*/

/*AQUI TRATE DE ADAPTAR LA PAGINA CON MEDIA QUERIES A PANTALLAS SMALL*/
@media (max-width: 576px) { 

  /* ESTILO NAV y ESTILO FOOTER: no funcionaron los cambios que quise aplicar*/

  /*PAGINA INICIO*/
  #mainInicio {
    /*height: 650px;*/
    display: flex;
    flex-direction: column;
  }
  #mainInicio .fotoInicio {
    width: 100px;
    height: 150px;
    display: inline-flex;
    flex-direction: column;
  }
  #mainInicio .textoInicio {
    display: inline;
    text-align: center;
    font-size: 10px;
  margin: 5px;
}

  /*PAGINA INFO*/
  #mainInfo {
    background-color: #FCE4EC;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
  }
  #mainInfo .textoInfo {
    border: 8px solid black;
    padding: 3px;
    font-size: 20px;
    font-display: center;
    display: inline;
    text-align: center;
    margin: 10px;
    margin-left: 20px;
  }
  #mainInfo .tituloMapa {
    font-size: 20px;
    text-align: center;
  }
  #mainInfo .mapa {
    margin: 30px;
    padding: 10px;
  }

  /*PAGINA GALERIA*/
  #mainGaleria .galeriaTitulo {
    font-size: 20px;
    font-display: center;
    justify-content: center;
    display: block;
    text-align: center;
    padding-top: 30px;
  }
  #mainGaleria .videosTitulo, #mainGaleria .imagenesTitulo {
    font-size: 15px;
  }

  /*PAGINA PLAYLIST*/
  #mainMusica .playlistTitulo {
    font-size: 20px;
  
  }
  #mainMusica .textoMusica {
    font-size: 15px;
  }
  
  /*PAGINA CONTACTO*/
  #mainContacto .contactoTitulo {
    font-size: 20px;
  }
  }

  @media (max-width: 1200px) { 
      /*PAGINA INFO*/
  #mainInfo {
    background-color: #FCE4EC;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
  }
  #mainInfo .textoInfo {
    border: 8px solid black;
    padding: 3px;
    font-size: 20px;
    font-display: center;
    display: inline;
    text-align: center;
    margin: 10px;
    margin-left: 20px;
  }
  #mainInfo .tituloMapa {
    font-size: 20px;
    text-align: center;
  }
  #mainInfo .mapa {
    margin: 30px;
    padding: 10px;
  }
  }