/*$color_footer: #D1C4E9;*/

/*ESTILO FOOTER*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    background-color: $color_footer;
    .footerLinks {
        display: inline-block;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .footerLogo{
        display: flex;
        justify-content: left;
        width: 100px;
        height: 100px;
        padding: 12px;
    }
    .footerRedes{
        display: flex;
        justify-content: space-between;
        height: 60px;
        padding: 12px;
        gap: 10px;
    }
}






