/*RESETEO DE ESTILOS*/
$letra: Arial, Helvetica, sans-serif;
$color_letra:rgb(0, 0, 0);

/* ESTILO NAV Y FOOTER*/
$color_fondo: #D1C4E9;
$color_li_a: #333;

/*COLOR FONDO PAGINA INICIO, INFO, GALERIA, PLAYLIST, CONTACTO */
$color_fondo: #FCE4EC;

/*BOTONES PAGINA CONTACTO*/
$color_boton: rgb(175, 89, 145);
$color_boton_letra: #fff;
$color_boton_hover: rgba(226, 209, 229, 0.902);
$color_boton_hover_letra: rgba(184, 43, 206, 0.902);






